
.header-container {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }

.md-tabs {
    background-color: #1779BA;
  }
  
  .md-tabs > .mobile-nav-bar {
    background-color: #1779BA;
    margin-bottom: 15px;
  }
  
  .md-tabs > .mobile-nav-bar .title-bar-text {
    font-size: 26px;
  }
  
  .md-tabs > .mobile-nav-bar a {
    color: #fefefe;
  }
  
  .md-tabs > .tabs {
    margin: 0;
    border: 0;
    background: #1779BA;
    list-style-type: none;
    display: table;
    width: 100%;
  }
  
  .md-tabs > .tabs > .tabs-title {
    display: table-cell;
    width: 25%;
    text-align: center;
    display: inline-block;
  }
  
  .md-tabs > .tabs > .tabs-title.is-active > a {
    color: #3ADB76;
    background-color: transparent;
    outline: none;
  }
  
  .md-tabs > .tabs > .tabs-title.is-active:nth-of-type(1) ~ .slide {
    left: calc((100% / 4) * 0);
  }
  
  .md-tabs > .tabs > .tabs-title.is-active:nth-of-type(2) ~ .slide {
    left: calc((100% / 4) * 1);
  }
  
  .md-tabs > .tabs > .tabs-title.is-active:nth-of-type(3) ~ .slide {
    left: calc((100% / 4) * 2);
  }
  
  .md-tabs > .tabs > .tabs-title.is-active:nth-of-type(4) ~ .slide {
    left: calc((100% / 4) * 3);
  }
  
  .md-tabs > .tabs > .tabs-title > a {
    color: #fefefe;
    font-size: 16px;
  }
  
  .md-tabs > .tabs > .tabs-title > a:hover, .md-tabs > .tabs > .tabs-title > a:focus {
    background: transparent;
  }
  
  .slide {
    background: #3ADB76;
    width: calc(100% / 4);
    height: 4px;
    position: relative;
    left: 0;
    top: 52px;
    transition: left 0.3s ease-out;
  }
  
  @media screen and (max-width: 39.9375em) {
    .slide {
      width: 0;
      height: 0;
    }
    .md-tabs > .accordion {
      margin-left: 0;
      list-style-type: none;
    }
    .md-tabs > .accordion > .accordion-item > .accordion-title {
      position: relative;
      display: block;
      padding: 1.25rem 1rem;
      border: 0;
      font-size: 0.75rem;
      line-height: 1;
      background: #1779BA;
      color: #fefefe;
    }
    .md-tabs > .accordion > .accordion-item > .accordion-title:hover {
      background-color: #1779BA;
      color: #3ADB76;
      outline: none;
    }
    .md-tabs > .accordion > .is-active.accordion-item > a.accordion-title {
      border-bottom: 4px solid #3ADB76;
      color: #3ADB76;
    }
    .md-tabs > .accordion > .accordion-item > .accordion-content {
      display: none;
      padding: 1rem;
      border: 1px solid #e6e6e6;
      border-top: 0px;
      background-color: #fefefe;
      color: #0a0a0a;
    }
    .md-tabs > .accordion > .accordion-item > .accordion-title:focus {
      background-color: #1779BA;
      color: #3ADB76;
      outline: none;
    }
  }
 
.animated-search-form[type=search] {
    width: 10rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-image: url("https://image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
  }
  
  .animated-search-form[type=search]:focus {
    width: 100%;
  }
  

  .masonry-css {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  
  @media screen and (min-width: 25em) {
    .masonry-css {
      -webkit-column-count: 2;
              column-count: 2;
    }
  }
  
  @media screen and (min-width: 37.5em) {
    .masonry-css {
      -webkit-column-count: 3;
              column-count: 3;
    }
  }
  
  @media screen and (min-width: 50em) {
    .masonry-css {
      -webkit-column-count: 3;
              column-count: 3;
    }
  }
  
  @media screen and (min-width: 68.75em) {
    .masonry-css {
      -webkit-column-count: 3;
              column-count: 3;
    }
  }
  
  .masonry-css-item {
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
    margin-bottom: 1rem;
    padding: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #FFFFFF;
  }
  
  .totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.totop a {
    display: none;
}
a, a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
a:hover {
    text-decoration: none;
}

.iframe-holder {
    width:100%;height:0;padding-bottom:56%;position:relative;
    background:url(https://gifimage.net/wp-content/uploads/2017/10/colorful-loader-gif-transparent-13.gif) center center no-repeat;
    background-size: 30%;
   }


.switch .switch-paddle {
  width: 3.25rem;
}

.switch input:checked ~ .switch-paddle::after {
  left: 1.3rem;
}

.block-list {
  line-height: 1;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #fefefe;
}

.block-list a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #1779ba;
}

.block-list img {
  margin-right: 1rem;
}

.block-list img.small-icon {
  margin-right: 0.3rem;
}

.block-list, .block-list ul {
  list-style-type: none;
}

.block-list ul {
  margin-left: 0;
  margin-bottom: 0;
}

.block-list ul li {
  height: 4.0625rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-list li > input[type="checkbox"], .block-list li > input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.block-list li > input[type="checkbox"] + label, .block-list li > input[type="radio"] + label {
  margin: 0;
  margin-left: 0.5rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.block-list li > input[type="checkbox"] + label.list-header, .block-list li > input[type="radio"] + label.list-header {
  margin: 0;
}

.block-list li > input[type="checkbox"]:checked + label::before, .block-list li > input[type="radio"]:checked + label::before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  background-size: 100% 100%;
  width: 1.5em;
  height: 1.5em;
  color: #1779ba;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  pointer-events: none;
}

.block-list .switch {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin: 0;
}

.block-list li {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.block-list li p {
  margin: 0;
}

.block-list .section-header-bg {
  width: 100%;
  height: 1.25rem;
  border-bottom: none;
  border-top: none;
  color: #fefefe;
}

.block-list .section-header-bg p {
  z-index: 10;
}

.block-list .section-header-bg.gray {
  background: #cacaca;
}

.block-list .section-header-bg.gray:before {
  content: '';
  height: 1.25rem;
  position: absolute;
  width: 1.25rem;
  background: #cacaca;
  left: -rem-calc(20);
}

.block-list .section-header-bg.gray:after {
  content: '';
  height: 1.25rem;
  position: absolute;
  width: 1.25rem;
  background: #cacaca;
  right: -rem-calc(20);
}

.block-list.block-list-short {
  margin-top: 2rem;
  border-top: 1px solid #e6e6e6;
}

.block-list.block-list-short li {
  height: 2.5rem;
}

.block-list.block-list-padded {
  padding: 0 1.25rem;
}

.block-list.block-list-padded p {
  margin-left: 0;
}

.block-list.with-icons li > a, .block-list.with-icons li > span, .block-list.with-icons li > label {
  padding-left: 8.925rem;
}

.block-list.with-icons li img, .block-list.with-icons li .iconic {
  position: absolute;
  top: 0.08;
  left: 0.08;
  width: 0.64;
  height: 0.64;
  border-radius: 8px;
  pointer-events: none;
}

.block-list header {
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
  height: 45px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: default;
  background-color: #e6e6e6;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.block-list li {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.block-list li label {
  color: #0a0a0a;
  font-size: 0.875rem;
  letter-spacing: 0;
  margin: 0;
}

.block-list li input, .block-list li select {
  margin: 0;
}

.block-list li button {
  padding: 1rem;
}

.block-list li button img {
  margin: 0;
}

.block-list li:first-child {
  border-top: none;
}

.block-list li > a,
.block-list li > span,
.block-list li > label {
  margin-bottom: 0;
}

.block-list li p {
  margin-bottom: 0;
}

.block-list li > span {
  cursor: default;
}

.block-list li > a, .block-list li > label {
  cursor: pointer;
}

.block-list li.block-list-time-item {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block-list li.block-list-time-item div:first-of-type {
  border-right: 1px solid #1779ba;
  padding-right: 1.25rem;
  margin-right: 0.625rem;
}

.block-list li .list-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-list li .list-form label {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  text-align: right;
  color: #4D4D4E;
  font-weight: 400;
}

.block-list li .list-form [type="text"], .block-list li .list-form [type="tel"] {
  border: none;
  box-shadow: none;
  text-align: center;
}

.block-list li p {
  margin-left: 0.5rem;
}

.block-list li.list-header-selected {
  padding: 1.25rem 2rem 1.25rem;
  border: none;
}

.block-list li.with-chevron::after {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  display: block;
  right: 1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
  font-size: 1em;
  color: #8a8a8a;
}

.block-list li.with-chevron a {
  color: #8a8a8a;
}

.block-list li.with-chevron img {
  vertical-align: bottom;
}

.block-list li .block-list-label {
  display: inline-block;
  float: right;
  padding: 0;
  pointer-events: none;
}

.block-list-item-highlight span,
.block-list-item-highlight p {
  color: #1779ba;
}


.basic-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 50%;
}

.basic-card > :last-child {
  margin-bottom: 0;
}

.basic-card-image {
  grid-row-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.basic-card-image {
  width: 100%;
}

.basic-card-content {
  border: 0;
  grid-row-start: 3 / 4;
  margin: 0;
  overflow: scroll;
}


